<div class="profile_entity_type_order">

	<span class="field-row">
		<label for="order_filter_increment_id"><?php echo $this->__("Order ID:") ?></label>
		<input class="input-text" id="order_filter_increment_id" name="gui_data[order][filter][increment_id]" value="<?php echo $this->getValue('gui_data/order/filter/increment_id') ?>"/>
		(Starting with)
	</span>
	
	
	<span class="field-row">
		<label for="order_filter_store_id"><?php echo $this->__("Store:") ?></label>
		<span class="with-tip">
			<select id="order_filter_store_id" name=gui_data[order][filter][store_id] >
				<option value="0"><?php echo $this->__('All Store') ?></option>
				<?php foreach ($this->getWebsiteCollection() as $_website): ?>
					<?php $_websiteShow=false; ?>
					<?php foreach ($this->getGroupCollection() as $_group): ?>
						<?php if ($_website->getId() != $_group->getWebsiteId()) continue; ?>
							<?php $_groupShow=false; ?>
							<?php foreach ($this->getStoreCollection() as $_store): ?>
								<?php if ($_group->getId() != $_store->getGroupId()) continue; ?>
								<?php if (!$_websiteShow): ?>
									<?php $_websiteShow=true; ?>
                                   	<optgroup label="<?php echo $_website->getName() ?>"></optgroup>
                                <?php endif; ?>
                                <?php if (!$_groupShow): ?>
                                   	<?php $_groupShow=true; ?>
                                   	<optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $_group->getName() ?>">
                                <?php endif; ?>
                                <option value="<?php echo $_store->getId() ?>" <?php echo $this->getSelected('gui_data/order/filter/store_id', $_store->getId()) ?>>&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $_store->getName() ?></option>
							<?php endforeach; ?>
                            <?php if ($_groupShow): ?>
                                </optgroup>
						<?php endif; ?>
					<?php endforeach; ?>
					<option value="_deleted_" <?php echo $this->getSelected('gui_data/order/filter/store_id', "_deleted_") ?>><?php echo $this->__('[Deleted]') ?></option>
				<?php endforeach; ?>
			</select>
                
		</span>
	</span>
    
	<span class="field-row">
		<label for="order_filter_status"><?php echo $this->__("Status:") ?></label>
		<?php
			$status = Mage::getSingleton('sales/order_config')->getStatuses();
		?>
		<select id="order_filter_status" name="gui_data[order][filter][status]">	
			<option value=""><?php echo $this->__('Any Status') ?></option>			
			<?php foreach ($status as $_value=>$_label): ?>
				<option value="<?php echo $_value ?>" <?php echo $this->getSelected('gui_data/order/filter/status', $_value) ?>><?php echo htmlspecialchars($_label) ?></option>
			<?php endforeach ?>
		</select>
	</span>
	
	
	
	<span class="field-row">
		<label for="order_filter_created_at_from"><?php echo $this->__("Purchased Since:") ?></label>
		<input class="input-text" style="width:5em" id="order_filter_created_at_from" name="gui_data[order][filter][created_at][from]" value="<?php echo $this->getValue('gui_data/order/filter/created_at/from') ?>"/>
		<img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" alt="" class="v-middle" id="order_filter_created_at_from_trig" title="<?php echo $this->__('Date selector') ?>" />
		<?php echo $this->__('to') ?>
		<input class="input-text" style="width:5em" id="order_filter_created_at_to" name="gui_data[order][filter][created_at][to]" value="<?php echo $this->getValue('gui_data/order/filter/created_at/to') ?>"/>
		<img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" alt="" class="v-middle" id="order_filter_created_at_to_trig" title="<?php echo $this->__('Date selector') ?>" />
		<script type="text/javascript">
		    Calendar.setup({
		        inputField : "order_filter_created_at_from",
		        ifFormat : "<?php echo $this->getShortDateFormat() ?>",
		        button : "order_filter_created_at_from_trig",
		        align : "Bl",
		        singleClick : true
		    });
		    Calendar.setup({
		        inputField : "order_filter_created_at_to",
		        ifFormat : "<?php echo $this->getShortDateFormat() ?>",
		        button : "order_filter_created_at_to_trig",
		        align : "Bl",
		        singleClick : true
		    });
		</script>
	</span>
	
	
</div>