<div class="profile_entity_type_invoice">

	<span class="field-row">
		<label for="invoice_filter_increment_id"><?php echo $this->__("Invoice ID:") ?></label>
		<input class="input-text" id="invoice_filter_increment_id" name="gui_data[invoice][filter][increment_id]" value="<?php echo $this->getValue('gui_data/invoice/filter/increment_id') ?>"/>
		(Starting with)
	</span>
	
	
	
    
	<span class="field-row">
		<label for="invoice_filter_state"><?php echo $this->__("Status:") ?></label>
		<?php
			$state = Mage::getSingleton('sales/order_invoice')->getStates();
		?>
		<select id="invoice_filter_state" name="gui_data[invoice][filter][state]">	
			<option value=""><?php echo $this->__('Any Status') ?></option>			
			<?php foreach ($state as $_value=>$_label): ?>
				<option value="<?php echo $_value ?>" <?php echo $this->getSelected('gui_data/invoice/filter/state', $_value) ?>><?php echo htmlspecialchars($_label) ?></option>
			<?php endforeach ?>
		</select>
	</span>
	
	
	
	<span class="field-row">
		<label for="invoice_filter_created_at_from"><?php echo $this->__("Invoice Date:") ?></label>
		<input class="input-text" style="width:5em" id="invoice_filter_created_at_from" name="gui_data[invoice][filter][created_at][from]" value="<?php echo $this->getValue('gui_data/invoice/filter/created_at/from') ?>"/>
		<img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" alt="" class="v-middle" id="invoice_filter_created_at_from_trig" title="<?php echo $this->__('Date selector') ?>" />
		<?php echo $this->__('to') ?>
		<input class="input-text" style="width:5em" id="invoice_filter_created_at_to" name="gui_data[invoice][filter][created_at][to]" value="<?php echo $this->getValue('gui_data/invoice/filter/created_at/to') ?>"/>
		<img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" alt="" class="v-middle" id="invoice_filter_created_at_to_trig" title="<?php echo $this->__('Date selector') ?>" />
		<script type="text/javascript">
		    Calendar.setup({
		        inputField : "invoice_filter_created_at_from",
		        ifFormat : "<?php echo $this->getShortDateFormat() ?>",
		        button : "invoice_filter_created_at_from_trig",
		        align : "Bl",
		        singleClick : true
		    });
		    Calendar.setup({
		        inputField : "invoice_filter_created_at_to",
		        ifFormat : "<?php echo $this->getShortDateFormat() ?>",
		        button : "invoice_filter_created_at_to_trig",
		        align : "Bl",
		        singleClick : true
		    });
		</script>
	</span>
	
	
</div>