<?php echo $this->getChildHtml("jsconfig");?>
<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('lotusbreath/onestepcheckout/js/override_mage.js') ?>"></script>

<?php
$isAllowComment = Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowcomment');
?>
<script id="loader-template" type="text/x-handlebars-template">
    <div class="osc-loader" id="osc-loader">
        <div class="osc-loader-background"></div>
        <div class="loading-mask" data-role="loader">
            <div class="loader">
                <img alt="{{imgAlt}}" src="{{icon}}">
                <p>{{loaderText}}</p>
            </div>
        </div>
    </div>
</script>
<script>
    var loaderJson = {
        imgAlt: '<?php echo $this->__("Please wait...");?>',
        icon: '<?php echo $this->getSkinUrl('lotusbreath/onestepcheckout/images/ajax-loader_3.gif');?>',
        loaderText: '<?php echo $this->__("Please wait...");?>'
    };
</script>

<div class="lt-checkoutpage layout-2col " id="checkoutSteps">
    <?php echo $this->getChildHtml("loginform");?>

    <form id="checkout_form" name="checkout_form">
      <?php //echo $this->getChildHtml('breadcrumbs') ?>
        <div class="grid">
            <?php if ($pageTitle = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/pagetitle')):?>
            <h2 class="page-title"><?php echo $pageTitle;?></h2>
            <?php endif;?>
            <?php if ($pageDescription = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/pagedescription')):?>
                <p class="page-description"><?php echo $pageDescription;?></p>
            <?php endif;?>
            <?php if (!Mage::helper('customer')->isLoggedIn()) : ?>
                <p><?php echo $this->__("Already registered? Please");?>
                    <a class="login_link" href="javascript:void(0);" id="loginFrmDlgO"> <?php echo $this->__("log in");?> </a></p>
            <?php endif; ?>
            <?php if (Mage::getStoreConfig('lotusbreath_onestepcheckout/content/display_bottom_static_block')): ?>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('onestepcheckout_top_block')->toHtml(); ?>
            <?php endif;?>
            <div class="row  no-padding padding-mobile">
                <div class="eight columns">
                    <h3 class="ptitle">
                        <?php if ($billingHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/billing_header')):?>
                            <?php echo $billingHeader;?>
                        <?php else:?>
                            1. <?php echo $this->__("Billing Information"); ?>

                        <?php endif;?>

                    </h3>
                    <?php echo $this->getChildHtml('billing'); ?>

                    <h3 class="ptitle"><?php echo $this->__("2. Shipping Information");?><h3>
                      <input type="checkbox" onclick="SetBilling(this.checked);" class="option"/>My shipping information is the same as my billing information
                    <?php echo $this->getChildHtml('shipping'); ?>
                    <div id="shipping-area" style="display: block;">
                        <h3 class="ptitle">
                            <?php if ($shippingHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/shipping_address_header')):?>
                                <?php echo $shippingHeader;?>
                            <?php else:?>
                                <?php echo $this->__("Shipping Information");?>
                            <?php endif;?>

                        </h3>

                    </div>
                    <div class="row">
                        <?php if(!$this->getQuote()->isVirtual()):?>
                        <div class="">

                            <!--<h3 class="ptitle">
                                <?php if ($shippingMethodHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/shipping_method_header')):?>
                                    <?php echo $shippingMethodHeader;?>
                                <?php else:?>
                                    2. <?php echo $this->__("Shipping Method"); ?>
                                <?php endif;?>
                            </h3>
                            <div id="shipping_partial">
                                <?php echo $this->getChildHtml('shipping_method'); ?>
                            </div>-->

                        </div>
                        <?php endif;?>
                        <div class="row">
                            <h3 class="ptitle">
                                <?php if ($paymentMethodHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/payment_method_header')):?>
                                    <?php echo $paymentMethodHeader;?>
                                <?php else:?>
                                    2. <?php echo $this->__("Payment Method");?>
                                <?php endif;?>

                            </h3>
                            <div id="payment_partial">
                              <img alt="" src="http://35.201.172.206/sweetuskin_inf4/media/wysiwyg/ICON/paypal-cards.png" width="450">
                                <?php echo $this->getChildHtml('payment'); ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="six columns">
                    <?php if( Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowshowgiftmessage') ):?>
                        <?php if (!$this->getQuote()->isVirtual()): ?>
                            <?php echo $this->helper('giftmessage/message')->getInline('onepage_checkout', $this->getQuote(), $this->getDontDisplayContainer()) ?>
                        <?php endif; ?>
                    <?php endif;?>
                    <?php if( Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowshowcoupon') ):?>
                        <div id="coupon_patial">
                            <h3 class="ptitle"><?php echo $this->__("Discount Codes");?></h3>

                            <?php echo $this->getChildHtml('coupon'); ?>
                        </div>
                    <?php endif;?>
                  </div>
                    <div class="six columns">
                    <?php if( Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowcomment') ):?>
                        <div id="comment-patial">
                            <h3 class="ptitle"><?php echo $this->__("Comment");?></h3>
                            <ul class="form-list">
                                <li class="fields">
                                    <div class="input-box">
                                        <textarea name="order_comment" placeholder="<?php echo $this->__("Type comment here");?>" class="input-text"></textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <?php endif;?>
                  </div>
                </div>
                </div>
                <div class="four columns">



                    <div class="col-3">


                        <h3 class="ptitle">
                            <?php if ($reviewOrderHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/review_header')):?>
                                <?php echo $reviewOrderHeader;?>
                            <?php else:?>
                                4. <?php echo $this->__("Review Order"); ?>
                            <?php endif;?>

                        </h3>
                        <div id="review_partial">
                            <?php echo $this->getData("reviewHtml"); ?>
                            <?php echo $this->getChildHtml('review'); ?>
                        </div>


                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <?php if (Mage::getStoreConfig('lotusbreath_onestepcheckout/content/display_bottom_static_block')): ?>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('onestepcheckout_bottom_block')->toHtml(); ?>
            <?php endif;?>
        </div>
    </form>
</div>

<script type="text/javascript">
    //<![CDATA[
    var accordion = new Accordion('checkoutSteps', '.step-title', true);
    <?php if($this->getActiveStep()): ?>
    accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
    <?php endif ?>
    var checkout = new Checkout(accordion,{
            progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
            review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
            saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
            failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
    );
    //]]>
</script>

<script type="text/javascript">
function SetBilling(checked) {
if (checked) {


      document.getElementById('shipping:company').value = document.getElementById('billing:company').value;
      document.getElementById('shipping:country_id').value = document.getElementById('billing:country_id').value;
      document.getElementById('shipping:street1').value = document.getElementById('billing:street1').value;
      document.getElementById('shipping:street2').value = document.getElementById('billing:street2').value;
      document.getElementById('shipping:city').value = document.getElementById('billing:city').value;
      document.getElementById('shipping:postcode').value = document.getElementById('billing:postcode').value;
      document.getElementById('shipping:firstname').value = document.getElementById('billing:firstname').value;
      document.getElementById('shipping:lastname').value = document.getElementById('billing:lastname').value;
      document.getElementById('shipping:telephone').value = document.getElementById('billing:telephone').value;
      document.getElementById('shipping:email').value = document.getElementById('billing:email').value;

      document.getElementById('company').innerHTML = document.getElementById('billing:company').value;
      document.getElementById('country_id').innerHTML = document.getElementById('billing:country_id').value;
      document.getElementById('street1').innerHTML = document.getElementById('billing:street1').value;
      document.getElementById('street2').innerHTML = document.getElementById('billing:street2').value;
      document.getElementById('city').innerHTML = document.getElementById('billing:city').value;
      document.getElementById('postcode').innerHTML = document.getElementById('billing:postcode').value;
      document.getElementById('firstname').innerHTML = document.getElementById('billing:firstname').value;
      document.getElementById('lastname').innerHTML = document.getElementById('billing:lastname').value;
      document.getElementById('telephone').innerHTML = document.getElementById('billing:telephone').value;
      document.getElementById('email').innerHTML = document.getElementById('billing:email').value;
}
else {

      document.getElementById('shipping:firstname').value ='';
      document.getElementById('shipping:lastname').value ='';
      document.getElementById('shipping:telephone').value ='';
      document.getElementById('shipping:email').value ='';
      document.getElementById('shipping:company').value ='';
      document.getElementById('shipping:country_id').value ='';
      document.getElementById('shipping:street1').value ='';
      document.getElementById('shipping:street2').value ='';
      document.getElementById('shipping:city').value ='';
      document.getElementById('shipping:postcode').value ='';

      document.getElementById('firstname').innerHTML ='';
      document.getElementById('lastname').innerHTML ='';
      document.getElementById('telephone').innerHTML ='';
      document.getElementById('email').innerHTML ='';
      document.getElementById('company').innerHTML ='';
      document.getElementById('country_id').innerHTML ='';
      document.getElementById('street1').innerHTML ='';
      document.getElementById('street2').innerHTML ='';
      document.getElementById('city').innerHTML ='';
      document.getElementById('postcode').innerHTML ='';
    }
}
</script>
