<?php
/**
 Made by Smartwave.
 */
?>
<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $footer = Mage::getStoreConfig('porto_settings/footer',$code);
?>
<div class="block block-subscribe">
    <div class="block-title">
        <strong><span><?php echo $footer['footer_newsletter_title']; ?></span></strong>
    </div>
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="footer-newsletter-validate-detail" onsubmit="setNewsletterCookie()">
        <div class="block-content">
            <p><?php echo $footer['footer_newsletter']; ?></p>
            <div class="input-box">

                <input type="text" name="email" id="newsletter_footer" placeholder="Entet your e-mail Address" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
                <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Subscriibe') ?></span></span></button>
                <div class="clearer"></div>
            </div>
        </div>
    </form>
    <div class="block-title"><strong>Instagram Feed</strong></div>
    <div class="instagram" id="instafeed"></div>
    <script src="https://matthewelsom.com/assets/js/libs/instafeed.min.js"></script>
    <script type="text/javascript">
    //<![CDATA[
        var footernewsletterSubscriberFormDetail = new VarienForm('footer-newsletter-validate-detail');
    //]]>
      var userFeed = new Instafeed({
        get: 'user',
        userId: '1923958271',
        clientId: '	eef274415589410e908b19a21d569e58',
        accessToken: '1923958271.1677ed0.72b09bd936d248eb8db9f5e9b9b75f13',
        resolution: 'standard_resolution',
        template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" /></a>',
        sortBy: 'most-recent',
        limit: 6,
        links: false
      });
      userFeed.run();
    </script>
</div>
