.owl-top-narrow #category-slider-demo-7 .owl-controls{right:-2px}

.header .demo-tooltip,.footer .demo-tooltip{position:absolute;right:15px;top:5px;z-index:9;width:20px}
.header-container.sticky-header .header .demo-tooltip{display:none}
.footer .demo-tooltip{top:-20px}
a.tooltip-icon{border:1px solid #fff;color:#fff;border-radius:50%;display:block;width:20px;height:20px;text-align:center;line-height:20px;font-size:10px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;-webkit-animation: tooltip-animation 1s ease-in infinite;-moz-animation: tooltip-animation 1s ease-in infinite;-ms-animation: tooltip-animation 1s ease-in infinite;animation: tooltip-animation 1s ease-in infinite;}
.header-container.type2 a.tooltip-icon,.header-container.type3 a.tooltip-icon,.header-container.type4 a.tooltip-icon,.header-container.type5 a.tooltip-icon,.header-container.type6 a.tooltip-icon,.header-container.type7 a.tooltip-icon,.header-container.type8 a.tooltip-icon{color:#000;border-color:#000}


.tooltip-popup{position:absolute;right:-10px;top:30px;width:300px;background-color:#111;box-shadow:0 0 8px rgba(255,255,255,.5);padding:20px;border-radius:10px;font-size:12px;line-height:1.4;color:#fff;text-align:left}
.tooltip-popup h4{font-size:16px;color:#fff}
.tooltip-popup p{margin-bottom:10px;color:#fff}
.tooltip-popup em{font-size:10px}
a.tooltip-close{position:absolute;right:10px;top:10px;color:#fff}
.footer-middle>.container{position:relative}

/* tooltip for demo */
@-webkit-keyframes tooltip-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tooltip-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tooltip-color {
  0% {
    color: #fff;
  }
  50% {
    color: #333;
  }
  100% {
    color: #fff;
  }
}
@keyframes tooltip-color {
  0% {
    color: #fff;
  }
  50% {
    color: #333;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes tooltip-color-white {
  0% {
    color: #444;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #444;
  }
}
@keyframes tooltip-color-white {
  0% {
    color: #444;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #444;
  }
}
#tab_latest {
display: none;
}
.ratings {
display: none;
}

/* add 180504 */
.footer-middle{background-color:#00c4d9;color:#777;padding:40px 0;font-size:13px}
.homepage-bar{
  background-color: #efeee9 !important;
  color:#8E8D8B !important;
}
.homepage-bar h3,
.homepage-bar p{
  color:#8E8D8B !important;
}
#profiler_section{
  display: none !important;
}

/* ul.menu a{
  color:#00c4d9 !important;

} */
.contact-info i{
  color: #fff !important;
}
.homepage-bar .col-md-4{
  border-color: 0px;
  border-left: 0px;
}
.about-title{
  background-color: #efefef;
  padding: 20px 0px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #000;
  text-align: left;

}
.footer-bottom{
  color:#f7f7f7;
  color:#777777;
  text-align: right;
}
#search.input-text{
  width: 200px;
}
.header-container.type2 .header{
  text-align: center !important;
}
/* .header.container{
  text-align: center !important;
} */
.mini-cart{
  top:45% !important;
  color: #fff;
  right: 15%;
}
.top-links-area{
  right: 10%;

}
ul.menu{
  text-align: center;
}
p{
  line-height: 1;
}
.about-us-title{
  margin: 20px 0px;
  line-height: 3 !important;
}
.container{
  width: 70%;
}
.icon-mini-cart:before{
  color:#fff;
  font-size: 12px;
}
a.search-icon{
  display: none;
}
.top-container >.breadcrumbs {
  background-color: #efefef;
  color:#000;
  height: 80px;
  line-height: 50px;
}
li.home a{
  color:#000;
}
.page-title li strong{
  /* font-size: 30px; */
  font-size: 18px;
}
.header #search_mini_form{
  width: 340px !important;
}
.header-container.linksli{
  border-left: 0px !important;
}
.header-container.type2 .header .search-area{
  float: right;
}
.header-container .links li{
  border-left: 0px solid #fff !important;
}
.header-container.type2 .header .logo{
  display:inline-block;
  vertical-align:middle;
  margin:0 40px 0 0
}
h1.logo{
  margin-left: 40px;
}
.header .logo img{
  margin: 20px;
}
.social-icons-header{
  text-align: right;
  margin-top:20px;
  font-size: 20px;
  position: static;
  margin-right: 16%;
  z-index: 20;
}
.social-icons-header span{
  padding: 5px;

}
.menu-search{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.header .form-search{
  border-color:#00c4d9 !important;
  color:#00c4d9 !important;
}
#cat{
  color:#00c4d9 !important;
  border-color:#00c4d9 !important;
}
.icon-search{
  color:#00c4d9 !important;
}
#totop{
  background-color: #00c4d9;
  color:#fff;
  border-radius: 0px;
}
.sticky-header .menu li{
  margin-top: 20px !important;
}
.header-container.type2{
  position: static;
  z-index: 1;
}
.gift-messages{
  display: none;
}
.products-grid li .product-image-area{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}
.details-area .product-name{
  text-align: left;
  color:#000 !important;
}
.details-area .product-name a{
    /* color:#000 !important; */
}
.price-box{
  text-align: left;
}
#checkout_form .ptitle{
  color:#000;
  padding: 20px 0px;
  font-weight: bold;
  border-bottom: 3px solid;
  font-size: 20px;
}
#checkout_form .col-3{
  background-color: #f5f5f5;
  padding: 0px 20px;
}
#checkout-review-table tr{
  background-color: #f5f5f5;
}
button#lbonepage-place-order-btn{
  padding: 0px;
  width:80%;
}
button#lbonepage-place-order-btn > span{
  background: #00c4d9;
  border: 0px;
  border-radius: 0px;
  color:#fff;
  text-transform: uppercase;
  padding: 10px 0px;

}
.layout-2col #lbonepage-place-order-btn{
  width: 100% !important;
  /* margin-right: 30px; */

}
.data-table tfoot td{
  border: 0px;
}
#review_partial .data-table td{
  border: 0px;
}
.data-table tbody tr{
  border: 0px;
}
.data-table thead tr{
  border: 0px;
}
.data-table tfoot{
  border-bottom: 0px;
}
.cart-item-img img{
  border: 1px solid #ddd;
}
.product-view .product-shop .short-description {
   border-bottom: 0px solid #ebebeb;
}
.about-us-content p{
  color:#000;
  line-height: 1.5;
}
.about-us-content img{
  width: 100%;
}
.about-us-title{
  color:#00c4d9;
  font-weight: bold;
}
.wrapper + a{
  display: none;
}
.footer-bottom{
  background-color:#efefef;
  padding:0px;
}
.footer-bottom address{
  margin-top: 5px;
}
.footer-bottom >.container{
  display: flex;
  justify-content: center;
}
.footer-middle .block.block-subscribe .input-box input.input-text{
  background: #fff;
}

/* tabs */
/* Backend Panel Start */
.clear-backend {
	background: #fff;
	width: 100%;
	height: 850px;
	position: relative;
}
.clear-backend > input {
	position: absolute;
	filter: alpha(opacity=0);
	opacity: 0;
}
.clear-backend > input:hover {
	cursor: pointer;
}
.clear-backend > input:hover + span,
.clear-backend > input:checked + span {
	background: #fff;
	color: #000;
  font-weight: bold;
}
.clear-backend > input:checked + span + i {
	color: #1ABC9C;
}
.clear-backend > i {
	position: absolute;
	margin-top: -40px;
	padding: 0 20px;
	font-size: 20px;
}
.clear-backend > span,
.clear-backend > i {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}
.clear-backend > input,
.clear-backend > span {
	background: #fff;
	display: block;
	width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: left;
	z-index: 9;
  border-bottom: 1px solid #000;
}
.clear-backend > .tab-content {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 300px);
	height: 100%;
	overflow: hidden;
}
.clear-backend > .tab-content section {
	position: absolute;
	width: 100%;
	/* height: 100%; */
	padding: 20px;
	display: none;
}
.clear-backend > input.tab-1:checked ~ .tab-content .tab-item-1 {
	display: block;
}
.clear-backend > input.tab-2:checked ~ .tab-content .tab-item-2 {
	display: block;
}
.clear-backend > input.tab-3:checked ~ .tab-content .tab-item-3 {
	display: block;
}
.clear-backend > input.tab-4:checked ~ .tab-content .tab-item-4 {
	display: block;
}
.clear-backend > input.tab-5:checked ~ .tab-content .tab-item-5 {
	display: block;
}
.clear-backend > input.tab-6:checked ~ .tab-content .tab-item-6 {
	display: block;
}
.clear-backend > input.tab-7:checked ~ .tab-content .tab-item-7 {
	display: block;
}
.clear-backend > input.tab-8:checked ~ .tab-content .tab-item-8 {
	display: block;
}
.clear-backend > input.tab-9:checked ~ .tab-content .tab-item-9 {
	display: block;
}
.clear-backend > input.tab-10:checked ~ .tab-content .tab-item-10 {
	display: block;
}
/* Responsive */
@media screen and (max-width: 1367px) {
}
@media screen and (max-width: 1281px) {
}
@media screen and (max-width: 1025px) {
}
@media only screen and (max-width: 961px) {
}
@media only screen and (max-width: 641px) {
	.clear-backend > input,
	.clear-backend > span {
		width: 60px;
		height: 60px;
	}
	.clear-backend > span {
		filter: alpha(opacity=0);
		opacity: 0;
	}
.clear-backend > 	.tab-content {
	width: calc(100% - 60px);
	}
}
.clear-backend i{
  display: none;
}
.term-first p{
  line-height: 1.5;
  text-align: justify;
  color: #000;

}
.clear-backend > .tab-content section li{
  line-height: 2;
  text-align: justify;
  color: #000;
}
.term-title{
 font-size: 16px;
 text-decoration: underline;
 color: #000;
 margin-bottom: 20px;
 font-weight: bold;


}
#totop + a{
  display: none !important;
}
.products-grid li .item-area .product-image-area{
  height: 250px;
}
.category-products li.item .product-image img{
  width: 100%;
  left: 0;
}
.breadcrumbs li a{
  color:#000;
}
/* .top-links-area > ul> li:nth-child(1):before */
ul.links .first::before{
  font-family: "FontAwesome";
  content: '\f007';
  font-size: 16px;
  color:#fff;
  margin-right: 5px;
}
.top-links-area > ul.links li:nth-child(2)::before{
  font-family: "FontAwesome";
  content: '\f004';
  font-size: 16px;
  color:#fff;
  margin-right: 5px;

}

ul.links .last::before{
  font-family: "FontAwesome";
  content: '\f2f6';
  font-size: 16px;
  color:#fff;
  margin-right: 5px;
}
.slider-with-side .slider-area{
  width:100% !important;
  margin-bottom: 30px;
}
#slideshow img{
  width: 100%;
}
.owl-item{
  /* width:850px !important; */
}
#slideshow >div{
  padding-bottom: 0px !important;
}
div.product-image-area.col-sm-3{
  height: 100px !important;

}
div.product-image-area.col-sm-3 > a{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.details-area > .actions{
  display: none !important;
}
.col-sort{
  width: 32.3%;
  float: left !important;
}
.sort-by.col-sort{
  text-align: right;
}
.toolbar-bottom > .toolbar > .sorter > .pager{
  width: 100% !important;
}
.toolbar{
  margin: 20px 0px;
}
#totop{
  display: block !important;
  margin-bottom: 10px;
}
.no-rating{
  position: relative;
}
.no-rating a{
  position: absolute !important;
  left: 0px;
}
.product-info{
  width: 100% !important;
}
.availability.in-stock{
  float: right;
  margin-top: 25px !important;
}
.availability.in-stock span{
  color:#00c4d9;
}
.addthis_32x32_style{
  float: right;
}
.col1-layout .product-options{
  width: 100%;
}
.product-options > .last{
  float: right;
}
.email-friend{
  display: none;
}
.link-price-alert{
  display: none;
}
.product-shop > .product-info > div> .price-box{
  margin-top: 20px;

}
.product-shop > .product-info{
  border-bottom: 1px solid #eee;
}
.qty-holder >.qty{
  font-size:  18px;
  font-weight: bold;
  color:#777;
}
.add-to-box .add-to-cart{
  float: none;
}
.add-to-cart-button{
  margin-top: 20px;

}
.tags{
  display: flex;
}
#store_map::before{
  content:'';
  display: block;
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #00c4d9;
  z-index: 20;
  top: 50px;
  left: 20px;

}
.contact-info-map{
  position: absolute;
  top: -240px;
  left: 60px;
  z-index: 22;
}
.contact-i{
  color:#fff;
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-info-map i{
  background-color:transparent!important;
  color: #fff;
  width: 10px !important;
  height: 10px !important;
  line-height: 30px !important;
  margin-right: 20px !important;
  margin-bottom: 0px !important;
  font-size: 12px !important;



}
.contact-info-map li {
  line-height: 30px;
  color:#fff;
}
.combo-offer{

}
.combo-txt{
  width: 150px;
  height: 40px;
  background-color: #00c4d9;
  color: #fff;
  line-height: 40px;
  text-align: center;
  /* border-radius: 25%; */
  font-size: 16px;

}
.product-collateral{
  margin-top: 60px;
}
.product-view .add-to-links{
  margin-top: -30px!important;
}
.reminder{
  background: #888;
  color:#fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
