<?php $menuHelper = Mage::helper('megamenu'); ?>
<?php $only_categories = $this->getOnlyCategories(); ?>
<div class="fixed-header-area fixed-menu-type hidden-xs">
    <div class="fixed-header">
        <!-- <div class="container"> -->
            <div class="menu-wrapper">
                <div class="menu-all-pages-container">

                        <?php echo $menuHelper->getMenuContent($only_categories); ?>
                    </ul>
                    <div class="cart-area">
                        <?php echo $this->getChildHtml('sticky.minicart'); ?>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>
