<div class="discount">
    <div class="discount-form">
        <label for="coupon_code"><?php echo $this->__('Enter your coupon code if you have one.') ?></label>
        <input type="hidden" name="remove" id="remove-coupone" value="0"/>
        <div class="row">
        <div class="input-box col-xs-7 col-md-12">
            <input class="input-text" id="coupon_code" name="coupon_code"
                   value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>"/>

        </div>
        <div class="lt-buttons-set col-xs-5">
            <?php
            $classRemovedCouponBtn = 'hidden';
            if (strlen($this->getCouponCode())) {
                $classRemovedCouponBtn = '';
            } ?>
            <button id="apply_coupon_btn" disbled="disabled" type="button"
                    title="<?php echo $this->__('Apply Coupon') ?>" class=" button disabled" disabled="disabled"
                    value="<?php echo $this->__('Apply Coupon') ?>">
                <span><span><?php echo $this->__('Apply Coupon') ?></span></span></button>

            &nbsp;
            <button id="cancel_coupon_btn" type="button" title="<?php echo $this->__('Cancel Coupon') ?>"
                    class="button <?php echo $classRemovedCouponBtn; ?>"
                    value="<?php echo $this->__('Cancel Coupon') ?>">
                <span><span><?php echo $this->__('Cancel Coupon') ?></span></span></button>
            <?php if (strlen($this->getCouponCode())): ?>
            <?php endif; ?>
        </div></div>
        <div>
            <div id="coupon-success-msg" class="sucesss"></div>
            <div id="coupon-error-msg" class="error"></div>
        </div>


    </div>
</div>
