<?php
/**
 * Lotusbreath
 */
?>
<?php
$relatedLocationFields = Mage::getStoreConfig("lotusbreath_onestepcheckout/general/location_fields");
if ($relatedLocationFields){
    $relatedLocationFields = explode(',',$relatedLocationFields);
}else{
    $relatedLocationFields = array('postcode', 'country_id', 'region_id','city');
}

$isShortShippingAddressInfo = Mage::getStoreConfig('lotusbreath_onestepcheckout/shippingaddress/useshortshippingaddress');

?>
<div style="color:red;" id="shipping-error" class="error"></div>

<fieldset>
    <ul class="form-list">
        <?php if ($this->customerHasAddresses()): ?>
            <li>
                <p style="width: 250px;" for="shipping-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></p>
                <div class="input-box">
                    <?php echo $this->getAddressesHtmlSelect('shipping') ?>
                </div>
            </li>
        <?php endif ?>
        <li id="shipping-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
            <fieldset>
                <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" autocomplete="on"/>
                <ul>
                    <?php if(!$isShortShippingAddressInfo):?>
                    <li class="fields"><?php echo $this->getLayout()->createBlock('Mage_Customer_Block_Widget_Name')->setObject($this->getAddress())->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->toHtml() ?></li>
                    <?php if( Mage::getStoreConfig('lotusbreath_onestepcheckout/shippingaddress/allowshowcompanyfield') ):?>
                    <li class="fields">
                        <div class="field">
                            <label for="shipping:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                            <div class="input-box">
                                <input type="text" name="shipping[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('lotusbreath_onestepcheckout')->getAttributeValidationClass('telephone') ?>" id="shipping:telephone" autocomplete="on"/>
                            </div>
                        </div>
                        <div class="field">
                          <?php if (!$this->isCustomerLoggedIn()): ?>

                              <label for="shipping:email"
                                     class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>

                              <div class="input-box ">
                                  <input type="text" name="shipping[email]" id="shipping:email" autocomplete="on"
                                         value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>"
                                         title="<?php echo $this->__('Email Address') ?>"
                                         data-validate="{required:true, 'validate-email':true }"
                                         class="input-text validate-email required-entry <?php echo $isCheckEmailExists ? 'check-email-exists' : '';?>"/>
                              </div>
                          <?php endif; ?>
                        </div>
                        <?php if (Mage::getStoreConfig('lotusbreath_onestepcheckout/shippingaddress/allowshowfaxfield')): ?>
                        <div class="field">
                            <label for="shipping:fax"><?php echo $this->__('Fax') ?></label>
                            <div class="input-box">
                                <input type="text" name="shipping[fax]" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text <?php echo $this->helper('lotusbreath_onestepcheckout')->getAttributeValidationClass('fax') ?>" id="shipping:fax" autocomplete="on"/>
                            </div>
                        </div>
                        <?php endif;?>
                    </li>

                    <li class="fields">
                        <div class="fields">
                            <label for="shipping:company"><?php echo $this->__('Company') ?></label>
                            <div class="input-box input-box-wide">
                                <input type="text" id="shipping:company" autocomplete="on" name="shipping[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('lotusbreath_onestepcheckout')->getAttributeValidationClass('company') ?>" />
                            </div>
                        </div>
                    </li>
                    <?php endif;?>
                    <?php endif;?>

                    <li class="fields">
                      <div class="field">
                          <label for="shipping:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                          <div class="input-box">
                              <?php echo $this->getCountryHtmlSelect('shipping') ?>
                          </div>
                          <?php
                          $changeLocationClass = '';
                          if (in_array('country_id', $relatedLocationFields)):
                              $changeLocationClass = 'change_location_field';

                              ?>
                              <script>
                                  var billingCountry = document.getElementById("shipping:country_id");
                                  billingCountry.setAttribute('class', billingCountry.getAttribute('class') + ' <?php echo $changeLocationClass;?>');

                              </script>
                          <?php endif;?>
                          <?php
                          $changeLocationClass = '';
                          if (in_array('region_id', $relatedLocationFields)):
                              $changeLocationClass = 'update-location-region-class';
                              ?>
                              <script>
                                  var billingCountry = document.getElementById("shipping:country_id");
                                  billingCountry.setAttribute('class', billingCountry.getAttribute('class') + ' <?php echo $changeLocationClass;?>');

                              </script>
                          <?php endif;?>
                      </div>
                      <div class="field region" id="div_shipping_state" style="display: none;">
                          <label for="shipping:region" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                          <?php
                          $changeLocationClass = '';

                          if (in_array('region_id', $relatedLocationFields))
                              $changeLocationClass = 'change_location_field';
                          ?>
                          <div class="input-box">
                              <select id="shipping:region_id" autofocus="on" name="shipping[region_id]" title="<?php echo $this->__('State/Province') ?>"
                                      class="validate-select <?php echo $changeLocationClass;?>" style="display:none;">
                                  <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                              </select>
                              <input type="text" id="shipping:region" autocomplete="on" name="shipping[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>"
                                     class="input-text <?php echo $changeLocationClass;?> <?php echo $this->helper('lotusbreath_onestepcheckout')->getAttributeValidationClass('region') ?>" style="display:none;" />
                          </div>
                      </div>
                    <!--    <div class="field">

                            <label for="shipping:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                            <div class="input-box">
                                <?php
                                $changeLocationClass = '';
                                if (in_array('city', $relatedLocationFields))
                                    $changeLocationClass = 'change_location_field';
                                ?>
                                <input type="text" title="<?php echo $this->__('City') ?>" name="shipping[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"
                                       class="input-text <?php echo $changeLocationClass;?>  <?php echo $this->helper('lotusbreath_onestepcheckout')->getAttributeValidationClass('city') ?>" id="shipping:city" />
                            </div>
                        </div>-->

                    </li>
                    <?php $_streetValidationClass = $this->helper('lotusbreath_onestepcheckout')->getAttributeValidationClass('street'); ?>
                    <li>
                        <label for="shipping:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
                        <div class="input-box input-box-wide">
                            <input type="text" title="<?php echo $this->__('Street Address') ?>" name="shipping[street][]" id="shipping:street1" autocomplete="on" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                        </div>
                    </li>
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <li>
                            <div class="input-box input-box-wide">
                                <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="shipping[street][]" id="shipping:street<?php echo $_i ?>" autocomplete="on" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                    <?php endfor; ?>

                    <?php
                    $isShowVATNumber = Mage::getStoreConfig('lotusbreath_onestepcheckout/shippingaddress/allowshowvatnumberfield');
                    if ($isShowVATNumber && $this->helper('lotusbreath_onestepcheckout')->isVatAttributeVisible()) : ?>
                        <li >
                            <label for="billing:vat_id"><?php echo $this->__('VAT Number'); ?></label>
                            <div class="input-box">
                                <input type="text" id="shipping:vat_id" autocomplete="on" name="shipping[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()); ?>" title="<?php echo $this->__('VAT Number'); ?>" class="input-text <?php echo $this->helper('lotusbreath_onestepcheckout')->getAttributeValidationClass('vat_id') ?>" />
                            </div>
                        </li>
                    <?php endif; ?>

                    <li class="fields">
                      <div class="field">

                          <label for="shipping:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                          <div class="input-box">
                              <?php
                              $changeLocationClass = '';
                              if (in_array('city', $relatedLocationFields))
                                  $changeLocationClass = 'change_location_field';
                              ?>
                              <input type="text" title="<?php echo $this->__('City') ?>" name="shipping[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"
                                     class="input-text <?php echo $changeLocationClass;?>  <?php echo $this->helper('lotusbreath_onestepcheckout')->getAttributeValidationClass('city') ?>" id="shipping:city" autocomplete="on"/>
                          </div>
                      </div>
                        <div class="field">
                            <label for="shipping:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                            <div class="input-box">
                                <?php
                                $changeLocationClass = '';
                                if (in_array('postcode', $relatedLocationFields))
                                    $changeLocationClass = 'change_location_field';
                                ?>
                                <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="shipping[postcode]" id="shipping:postcode" autocomplete="on" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>"
                                       class="<?php echo $changeLocationClass;?>  input-text validate-zip-international <?php echo $this->helper('lotusbreath_onestepcheckout')->getAttributeValidationClass('postcode') ?>" />
                            </div>
                        </div>

                    </li>

                    <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                        <li class="control">
                            <input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" autocomplete="on" <?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label></li>
                    <?php else:?>
                        <li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
                    <?php endif;?>
                </ul>
            </fieldset>
        </li>

    </ul>
    </fieldset>

<script type="text/javascript">
    jQuery( document ).ready(function() {

        function checkShippingCountry(){
            if(jQuery($('shipping:country_id')).val() == 'HK')
                jQuery('#div_billing_state').hide();
            else
                jQuery('#div_billing_state').show();
        }

        jQuery($('shipping:country_id')).on('change', function() {
            checkShippingCountry();
        });

        checkShippingCountry();
    });
</script>
