<div class="profile_entity_type_category">
	
	<span class="field-row">
		<label for="category_filter_is_active"><?php echo $this->__("Status:") ?></label>
		<?php
			$options	= array(''=>$this->__('Any Status'), 1=>$this->__('Enabled'),2=>$this->__('Disabled'));
		?>
		<select id="category_filter_is_active" name="gui_data[category][filter][is_active]">				
			<?php foreach ($options as $_value=>$_label): ?>
				<option value="<?php echo $_value ?>" <?php echo $this->getSelected('gui_data/category/filter/is_active', $_value) ?>><?php echo htmlspecialchars($_label) ?></option>
			<?php endforeach ?>
		</select>
	</span>
	
	<span class="field-row">
		<label for="category_filter_level_from"><?php echo $this->__("Level") ?></label>
		<input class="input-text" style="width:5em" id="category_filter_level_from" name="gui_data[category][filter][level][from]" value="<?php echo $this->getValue('gui_data/category/filter/level/from') ?>"/>		
		<?php echo $this->__('to') ?>
		<input class="input-text" style="width:5em" id="category_filter_level_to" name="gui_data[category][filter][level][to]" value="<?php echo $this->getValue('gui_data/category/filter/level/to') ?>"/>
	</span>
	
	
</div>