<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
        <label for="qty"><?php echo $this->__('Qty:') ?></label>
        <div class="qty">Qty*</div>
        <div class="qty-holder">

            <div class="qty-changer"><a href="javascript:void(0)" class="qty_dec">-</a></div>
            <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
            <div class="qty-changer"><a href="javascript:void(0)" class="qty_inc">+</a></div>
            <!-- <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc">+</a>
                <a href="javascript:void(0)" class="qty_dec">-</a>
            </div> -->
        </div>

    </div>
    <!-- <div class="add-to-cart-button">
  <?php endif; ?>
  <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><i class="icon-cart"></i><?php echo $buttonTitle ?></span></span></button>
  <?php echo $this->getChildHtml('', true, true) ?>
</div> -->
<?php endif; ?>
