<script>
window.facebookAdsToolboxConfig = {
  hasGzipSupport: <?php echo extension_loaded('zlib') ? 'true' : 'false' ?>
 ,popupOrigin: 'https://www.facebook.com/ads/dia'
 ,feedWasDisabled: '<?php echo $this->enableFeedNOW() ?>'
 ,feedWritePermissionError: '<?php echo $this->checkFeedWriteError() ?>'
 ,platform: 'Magento'
 ,pixel: {
    pixelId: '<?php echo $this->fetchPixelId() ?>'
  }
 ,store: {
    baseUrl: '<?php echo $this->getStoreBaseUrl() ?>'
   ,baseCurrency: '<?php echo $this->fetchStoreBaseCurrency() ?>'
   ,timezoneId: <?php echo $this->fetchStoreTimezone() ?>
   ,storeName: '<?php echo $this->fetchStoreName() ?>'
   ,version: '<?php echo FacebookAdsToolbox::getMagentoVersion() ?>'
   ,plugin_version: '<?php echo FacebookAdsToolbox::version() ?>'
   ,debug_key: '<?php echo FacebookAdsToolbox::getDebugKey() ?>'
   ,modules: '<?php echo $this->getModuleList() ?>'
  }
 ,feed: {
    enabled: <?php echo $this->fetchFeedSetupEnabled() === 1 ? 'true' : 'false' ?>
   ,format: '<?php echo $this->fetchFeedSetupFormat() ?>'
   ,totalVisibleProducts: <?php echo $this->getTotalVisibleProducts() ?>
 }
<?php if ($this->getDiaSettingId() != null) { ?>
 ,diaSettingId: <?php echo $this->getDiaSettingId() ?>
<?php } else { ?>
  /* no dia setting id found */
<?php } ?>
 ,feedPrepared: {
    feedUrl: '<?php echo $this->getFeedUrl() ?>'
   ,feedPingUrl: '<?php echo FacebookAdsToolbox::getFeedPingUrl() ?>'
   ,samples: [
<?php
  $samples = $this->fetchFeedSamples();
  if ($samples && count($samples) > 0) {
    echo json_encode($samples);
  } else {
    echo '[ /* no samples is generated */ ]';
  }
?>
    ]
  }
};
window.facebookAdsToolboxAjax = {
  setDiaSettingId: '<?php echo $this->getDiaSettingIdAjaxRoute() ?>'
 ,setPixelId: '<?php echo $this->getPixelAjaxRoute() ?>'
 ,generateFeedNow: '<?php echo $this->getFeedGenerateNowAjaxRoute() ?>'
};
</script>
<div id="facebook-header">
  <table><tbody>
    <tr><td><i class='logo'></i></td>
    <td><span class='title'>Facebook Ads Extension</span></td></tr>
  </tbody></table>
</div>
<div id="dia-flow"></div>
