<?php
/**
 * @project: CartMigration
 * @author : LitExtension
 * @url    : http://litextension.com
 * @email  : litextension@gmail.com
 */
?>
<?php
$recent = $this->getRecent();
$entities = array(
    'taxes' => 'Taxes',
    'manufacturers' => 'Manufacturers',
    'categories' => 'Categories',
    'products' => 'Products',
    'reviews' => 'Reviews',
    'customers' => 'Customers',
    'orders' => 'Orders',
    'carts' => 'Carts',
    'pages' => 'Pages',
    'blocks' => 'Static blocks',
    'widgets' => 'Widgets',
    'polls' => 'Polls',
    'transactions' => 'Transaction email',
    'newsletters' => 'Newsletter template',
    'users' => 'Users',
    'rules' => 'Rules',
    'cartrules' => 'Cart Rules',
);
?>
<form action="" method="post" id="form-recent">
    <input type="hidden" name="action" value="recent">
    <div>
        <h1 id="resume-header"><?php echo $this->__("Last Migration"); ?></h1>
            <?php foreach($recent as $key => $row){ ?>
            <?php
            $data = unserialize($row['notice']);
            $entities_html = '';
                ?>
            <div style="clear: both;" class="recent-wrap">
                <div style="padding: 5px 0px;"><input type="radio" name="recent_id" value="<?php echo $row['id']; ?> <?php if($key == 0){?>" checked="checked" <?php } ?>"/> Last migration session from <strong>"<?php echo $data['config']['cart_url']?>"</strong> <a class="recent-show" href="javascript:void(0)">view detail</a></div>
                <div class="recent-content" style="display: none;">
                    <div style="width: 49.5%;border: 1px solid #B5B5B5;min-height: 200px;display: block;float: left;">
                        <div style="padding: 10px;">
                            <div  style="padding-bottom: 5px;font-weight: bold;">Migrated Data</div>
                            <?php
                            foreach($data['config']['import'] as $key => $value){
                                if($value == true){ ?>
                                    <p> - <?php echo $data[$key]['imported'] . '/' . $data[$key]['total'] . ' ' . $key . ' completed, ' . $data[$key]['error'] . ' errors' ?></p>
                                <?php }
                            }
                            ?>
                        </div>
                    </div>
                    <div id="refresh-recent-<?php echo $row['id'];?>" style="width: 49.5%;border-style: solid;border-width: 1px 1px 1px 0px;border-color: #B5B5B5;min-height: 200px;display: block;float: left;">
                        <div style="margin: 0 auto;width: 100%;text-align: center;">
                            <div style="height: 40px; line-height: 40px;"><img style="vertical-align: middle;" src="<?php echo $this->getSkinUrl('litextension/cartmigration/img/loader-large.gif'); ?>"/> Loading ...</div>
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
        <div class="le-submit">
            <div id="form-recent-loading" class="form-loading"><?php echo $this->__('Connecting ... ')?></div>
            <div id="form-recent-submit" class="lecm-submit">
                <a href="javascript:void(0)" class="le-button"><?php echo $this->__('Migrate Recent Data') ?></a>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</form>