<?php echo $this->getChildHtml('items_before'); ?>

<div name="checkout-review-table-wrapper">
  <table class="table data-table" ><?php echo $this->getChildHtml('totals'); ?></table>
    <table class="table data-table" name="checkout-review-table">
<!--
        <?php if ($this->helper('tax')->displayCartBothPrices()): $colspan = $rowspan = 2; else: $colspan = $rowspan = 1; endif; ?>
        <col wnameth="1"/>
        <col wnameth="1"/>
        <col wnameth="1"/>
        <col wnameth="1"/>
        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
            <col wnameth="1"/>
            <col wnameth="1"/>
        <?php endif; ?>
        <col wnameth="1"/>
        <thead>
        <tr>
            <th rowspan="<?php echo $rowspan ?>"><?php echo $this->__('Product Name') ?></th>
            <th colspan="<?php echo $colspan ?>" class="a-center"><?php echo $this->__('Price') ?></th>
            <th rowspan="<?php echo $rowspan ?>" wrap="wrap" class="a-center"><?php echo $this->__('Qty') ?></th>
            <th colspan="<?php echo $colspan ?>" class="a-center"><?php echo $this->__('Subtotal') ?></th>
            <th colspan="<?php echo $colspan ?>" class="a-center remove-item-diplay" style="display: none;"></th> -->
        </tr>
<!--      <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
            <tr>
                <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                <th></th>
            </tr>
        <?php endif; ?>
      </thead>

        <tbody>-->
        <h2 style="color:#000000"><?php echo Mage::helper('checkout/cart')->getItemsCount() ;?> Items in Cart </h2>


        <?php
        $quote = Mage::helper('checkout')->getQuote();
        foreach ($quote->getItemsCollection() as $item) { ?>
        <div class="cart-single">
            <div class="cart-content-image">
            <?php

            $conname = $item->getProductId();
            $simpleProductId = $conname;
            $parentIds = Mage::getResourceSingleton('catalog/product_type_configurable')->getParentIdsByChild($simpleProductId);
            $product = Mage::getModel('catalog/product')->load($item->getProduct()->getId());
            ?>
                <img src="<?php echo (string)Mage::helper('catalog/image')->init($product, 'image')->resize(80, 110); ?>" alt="<?php echo $item->getName(); ?>" />
            </div>
            <div class="cart-content-details container">
                <?php
                    $maxLength = 50;
                    $productName = $item->getName();

                    echo '<div class="cart-content-name-full"><strong>'.$item->getName().'</strong></div>';
                    echo '<div class="cart-content-price">'. $this->helper('checkout')->formatPrice($item->getPrice(), 2).'</div>';
                ?>
            </div>
        </div>
        <?php }
        ?>
</div>
        </tbody>

    </table>
</div>

<?php echo $this->getChildHtml('items_after'); ?>
<script type="text/javascript">//jQuery('#checkout-review-table').decorate('table');</script>
<div name="checkout-review-submit">

</div>
<!--<div name="checkout-paypaliframe-load" class="authentication white-popup mfp-hnamee"></div>-->
<div class="clearfix"></div>
<script type="text/javascript">
    //<![CDATA[
    review = new Review('<?php echo $this->getUrl('checkout/onepage/saveOrder', array('form_key' => Mage::getSingleton('core/session')->getFormKey())) ?>', '<?php echo $this->getUrl('checkout/onepage/success') ?>', $('checkout-agreements'));
    //]]>
</script>

<h2 style="color:#000000;">Ship to:</h2>
<div id="firstname" type="text"> </div>
<div id="lastname" type="text"> </div>
<div id="telephone" type="text"> </div>
<div id="company" type="text" ></div>
<div id="country_id" type="text"> </div>
<div id="street1" type="text" ></div>
<div id="street2" type="text"> </div>
<div id="city" type="text" ></div>
<div id="postcode" type="text"> </div>
<script type="text/javascript">
/*
function SetBilling(checked) {
if (checked) {


      document.getElementById('company').value = document.getElementById('billing:company').value;
      document.getElementById('country_id').value = document.getElementById('billing:country_id').value;
      document.getElementById('street1').value = document.getElementById('billing:street1').value;
      document.getElementById('street2').value = document.getElementById('billing:street2').value;
      document.getElementById('city').value = document.getElementById('billing:city').value;
      document.getElementById('postcode').value = document.getElementById('billing:postcode').value;
      document.getElementById('firstname').value = document.getElementById('billing:firstname').value;
      document.getElementById('lastname').value = document.getElementById('billing:lastname').value;
      document.getElementById('telephone').value = document.getElementById('billing:telephone').value;
      document.getElementById('email').value = document.getElementById('billing:email').value;

} else {

      document.getElementById('firstname').value ='';
      document.getElementById('lastname').value ='';
      document.getElementById('telephone').value ='';
      document.getElementById('email').value ='';
      document.getElementById('company').value ='';
      document.getElementById('country_id').value ='';
      document.getElementById('street1').value ='';
      document.getElementById('street2').value ='';
      document.getElementById('city').value ='';
      document.getElementById('postcode').value ='';
}
}*/
</script>









<h2 style="color:#000000;">Shipping Method:</h2>
<div style="line-height:1;margin-bottom:10px;">Free Shipping - Free
</div>





<button role='review-save' type="submit"
        title="<?php echo Mage::helper('checkout')->__('Place Order') ?>" name="submitbtn"
        name="lbonepage-place-order-btn" class="button btn-checkout">
    <span><span><?php echo Mage::helper('checkout')->__('PLACE ORDER') ?></span></span>
</button>
