<?php if($crumbs && is_array($crumbs)): ?>



<div class="col-sm-6 a-left page-title">
  <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>

      <li class="<?php echo $_crumbName ?>">
      <?php if($_crumbInfo['link']): ?>
          <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->escapeHtml($_crumbInfo['title']) ?>"><?php //echo $this->escapeHtml($_crumbInfo['label']) ?></a>
      <?php elseif($_crumbInfo['last']): ?>
        <?php if($_crumbName == 'product'): ?>
          <strong><?php echo __('Product Detail') ?></strong>
        <?php else :?>
          <strong><?php echo $this->escapeHtml($_crumbInfo['label']) ?></strong>
        <?php endif; ?>
      <?php else: ?>

          <?php echo $this->escapeHtml($_crumbInfo['label']) ?>

      <?php endif; ?>
      <?php if(!$_crumbInfo['last']): ?>
          <!-- <span class="breadcrumbs-split"><i class="icon-right-open"></i></span> -->
      <?php endif; ?>
      </li>
  <?php endforeach; ?>
</div>
<div class="col-sm-6 a-right">
    <ul>
        <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
            <li class="<?php echo $_crumbName ?>">
            <?php if($_crumbInfo['link']): ?>
                <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->escapeHtml($_crumbInfo['title']) ?>"><?php echo $this->escapeHtml($_crumbInfo['label']) ?></a>
            <?php elseif($_crumbInfo['last']): ?>
                <strong><?php echo $this->escapeHtml($_crumbInfo['label']) ?></strong>
            <?php else: ?>
                <?php echo $this->escapeHtml($_crumbInfo['label']) ?>
            <?php endif; ?>
            <?php if(!$_crumbInfo['last']): ?>
                <span class="breadcrumbs-split"><i class="icon-right-open"></i></span>
            <?php endif; ?>
            </li>
        <?php endforeach; ?>
        <div class="search-area">
            <a href="javascript:void(0);" class="search-icon"><i class="icon-search"></i></a>
            <?php echo $this->getChildHtml('topSearch'); ?>
        </div>
    </ul>
</div>
<?php endif; ?>
