<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
<?php echo $this->getChildHtml('sticky.nav') ?>
<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $custom_block = Mage::getStoreConfig('porto_settings/header/static_block', $code);
?>
<div class="header-container type2">
    <div class="top-links-container">
        <div class="top-links container">
            <?php echo $this->getChildHtml('minicart'); ?>
            <?php
                $store_currency = $this->getChildHtml('store_currency');
                $store_language = $this->getChildHtml('store_language');
			         	$compare_link = $this->getChildHtml('compare_link');
            ?>
            <?php echo $store_currency; ?>
            <?php if($store_currency && $store_language):?>
            <span class="split"></span>
            <?php endif; ?>
            <?php echo $store_language; ?>
            <?php if(($store_currency || $store_language) && $compare_link):?>
            <span class="split"></span>
            <?php endif; ?>
			      <?php echo $compare_link; ?>
            <div class="top-links-area">
                <div class="top-links-icon"><a href="javascript:void(0)"><?php echo $this->__("links"); ?></a></div>
                <?php echo $this->getChildHtml('topLinks'); ?>
            </div>

            <p class="welcome-msg"><?php echo $this->getChildHtml('welcome'); ?> <?php echo $this->getAdditionalHtml(); ?></p>
            <div class="clearer"></div>

        </div>

    </div>
    <div class="social-icons-header">
      <span><a href="http://www.facebook.com" target="_blank" title="facebook"><i class="fab fa-facebook"></i></a></span>
      <span><a href="http://www.instagram.com" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></span>
      <span><a href="http://www.youtube.com" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a></span>
  </div>
    <div class="header container">
      <div class="menu-icon"><a href="javascript:void(0)" title="<?php echo $this->__('Menu'); ?>"><i class="fa fa-bars"></i></a></div>
      <?php echo $this->getChildHtml("demo_header_tooltip"); ?>
        <?php if ($this->getIsHomePage()):?>
        <h1 class="logo"><strong><?php echo $this->getLogoAlt(); ?></strong><a href="<?php echo $this->getUrl(''); ?>" title="<?php echo $this->getLogoAlt(); ?>" class="logo"><img src="<?php echo $this->getLogoSrc(); ?>" alt="<?php echo $this->getLogoAlt(); ?>" /></a></h1>
        <?php else:?>
        <a href="<?php echo $this->getUrl(''); ?>" title="<?php echo $this->getLogoAlt(); ?>" class="logo"><strong><?php echo $this->getLogoAlt(); ?></strong><img src="<?php echo $this->getLogoSrc(); ?>" alt="<?php echo $this->getLogoAlt(); ?>" /></a>
        <?php endif; ?>
        <div class="cart-area">
            <?php echo '<div class="custom-block">'.$this->getLayout()->createBlock('cms/block')->setBlockId($custom_block)->toHtml().'</div>'; ?>
        </div>
        <i id="search-mobile" class="icon-search top"></i>
        <div class="menu-search">
        <?php echo $this->getChildHtml('topMenu') ?>
        <span class="search-area"><?php echo $this->getChildHtml('topSearch'); ?></span>
      </div>
    </div>
    <div class="header mobile-searchBox">
      <form id="search_mini_form_mobile" action="<?php echo str_replace("https://","//",str_replace("http://","//",$this->helper('catalogsearch')->getResultUrl())) ?>" method="get">
        <div class="form-search <?php if(!Mage::getStoreConfig("catalogcategorysearch/general/enabled", $code)): ?>no-padding<?php endif; ?>">
            <label for="search"><?php echo $this->__('Search:') ?></label>
            <?php $categorySearchHelper = $this->helper('catalogcategorysearch'); ?>
            <input id="mobile-search" placeholder="Search..."type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" class="input-text" />
            <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"><i class="icon-search"></i></button>
            <div id="search_autocomplete" class="search-autocomplete"></div>
            <div class="clearer"></div>
        </div>
      </form>
  </div>
</div>
<?php echo $this->getChildHtml('mobile.nav') ?>

<script>

jQuery('.top').click(function () {
    jQuery('#search_mini_form_mobile').toggleClass('expanded');
});

</script>
