<?php
	//$block	= Mage::getBlockSingleton('adminhtml/system_convert_gui_edit_tab_wizard');
	
?>
<div style="border:1px solid #d6d6d6; margin: 15px 0 35px; padding:25px 25px; position: relative; background: #f9f9c9; border-radius: 5px; width: 400px;">
        		<div style="border:1px solid #d6d6d6; background: #f9f9f9; position: absolute; top: -13px; left: 25px; padding: 3px 20px; font-weight: bold;"><?php echo $this->__("Product Data Type"); ?></div>
        		
        		<span class="field-row">
		            <label for="profile_mlx_product_type_grouped"><?php echo $this->__("Grouped Product") ?></label>
	            <select id="profile_mlx_product_type_grouped" name="gui_data[mlx_product][type][grouped]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/type/grouped', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/type/grouped', 1) ?>><?php echo $this->__("Yes") ?></option>
	            </select>
	        </span> 
	        
	        <span class="field-row">
	       	 	<label for="profile_mlx_product_type"><?php echo $this->__("Downloadable Product") ?></label>
	            <select id="profile_mlx_product_type" name="gui_data[mlx_product][type][downloadable]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/type/downloadable', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/type/downloadable', 1) ?>><?php echo $this->__("Yes") ?></option>
	            </select>
	        </span>
	        
	        <span class="field-row">
	        	<label for="profile_mlx_product_type"><?php echo $this->__("Configurable Product") ?></label>
	            <select id="profile_mlx_product_type" name="gui_data[mlx_product][type][configurable]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/type/configurable', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/type/configurable', 1) ?>><?php echo $this->__("Yes") ?></option>
	            </select>
	        </span>
	        
	        <span class="field-row">
	        	<label for="profile_mlx_product_type"><?php echo $this->__("Bundle Product") ?></label>
	            <select id="profile_mlx_product_type" name="gui_data[mlx_product][type][bundle]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/type/bundle', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/type/bundle', 1) ?>><?php echo $this->__("Yes") ?></option>
		            </select>
		        </span>
        	</div>
        	
	    	<div style="border:1px solid #d6d6d6; margin: 15px 0; padding:25px 25px; position: relative; background: #f9f9c9; border-radius: 5px; width: 400px;">
        		<div style="border:1px solid #d6d6d6; background: #f9f9f9; position: absolute; top: -13px; left: 25px; padding: 3px 20px; font-weight: bold;"><?php echo $this->__("Other Data"); ?></div>
                
		        <span class="field-row">
		            <label for="profile_mlx_product_gallery"><?php echo $this->__("Gallery") ?></label>
	            <select id="profile_mlx_product_gallery" name="gui_data[mlx_product][other][gallery]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/other/gallery', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/other/gallery', 1) ?>><?php echo $this->__("Yes") ?></option>
	            </select>
	        </span>  
	        
	        <span class="field-row">
	            <label for="profile_mlx_product_tier_price"><?php echo $this->__("Tier Price") ?></label>
	            <select id="profile_mlx_product_tier_price" name="gui_data[mlx_product][other][tier_price]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/other/tier_price', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/other/tier_price', 1) ?>><?php echo $this->__("Yes") ?></option>
	            </select>
	        </span>
	        
	        <span class="field-row">
	            <label for="profile_mlx_product_group_price"><?php echo $this->__("Group Price") ?></label>
	            <select id="profile_mlx_product_group_price" name="gui_data[mlx_product][other][group_price]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/other/group_price', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/other/group_price', 1) ?>><?php echo $this->__("Yes") ?></option>
	            </select>
	        </span>
	        
	        <span class="field-row">
	            <label for="profile_mlx_product_related"><?php echo $this->__("Related Products") ?></label>
	            <select id="profile_mlx_product_related" name="gui_data[mlx_product][other][related]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/other/related', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/other/related', 1) ?>><?php echo $this->__("Yes") ?></option>
	            </select>
	        </span>
	        
	        <span class="field-row">
	            <label for="profile_mlx_product_upsell"><?php echo $this->__("Up-sells") ?></label>
	            <select id="profile_mlx_product_upsell" name="gui_data[mlx_product][other][upsell]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/other/upsell', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/other/upsell', 1) ?>><?php echo $this->__("Yes") ?></option>
	            </select>
	        </span>
	        
	        <span class="field-row">
	            <label for="profile_mlx_product_cross_sell"><?php echo $this->__("Cross-sells") ?></label>
	            <select id="profile_mlx_product_cross_sell" name="gui_data[mlx_product][other][cross_sell]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/other/cross_sell', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/other/cross_sell', 1) ?>><?php echo $this->__("Yes") ?></option>
	            </select>
	        </span>
	        
	        <span class="field-row">
	            <label for="profile_mlx_product_tags"><?php echo $this->__("Product Tags") ?></label>
	            <select id="profile_mlx_product_tags" name="gui_data[mlx_product][other][tags]" class="option-control">
	                <option value="0"<?php echo $this->getSelected('gui_data/mlx_product/other/tags', 0) ?>><?php echo $this->__("No") ?></option>
	                <option value="1"<?php echo $this->getSelected('gui_data/mlx_product/other/tags', 1) ?>><?php echo $this->__("Yes") ?></option>
		            </select>
		        </span>        
        	</div>